@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;300&family=Raleway:wght@100;300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;300&family=Montserrat:wght@600&display=swap');
html,body{
  margin:0;
  padding:0;
}

.main-header {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(0,0,0,.4);
}

.nav ul{
  margin : 0;
  padding-left:0;

}

.nav li{
  display:flex;
  float:right;
}

.nav a {
  transition:.5s;
  display:inline-block;
  padding:.7em;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size:1.4rem;
  font-family: raleway;
}

#header-logo{
  height: 1.6rem;
  width:auto;
  display:block;
}

#header-logo-li{
  float:left;
  padding:0px;
}

#header-logo-li a{
  padding:auto;
}

#header-logo-li a:hover{
  background-color: rgba(17, 17, 17, 0);
}


li a:hover:not(.active) {
    background-color: #111;
    opacity:70%;
}



.active {
    background-color: rgba(34,58,148,80%);
}

h1 {
  font-family: sans-serif;
}

body{
  background: url("images/back.webp");
  background-size:cover;
  background-repeat: no-repeat;
}

#bio{
  border-radius:20px;
  font-family: raleway;
  color:white;
  text-shadow: 2px 2px #2b2a2a91;
  text-align:left;
  font-size: 30px;
  padding:6%;
  background-color: rgba(0,0,0,.5);
  margin-left:6%;
  margin-right:6%;
}

#bio-heading{
    color:white;
    display:block;
    font-size: 36px;
    font-family: raleway;
    text-shadow: 2px 2px #2b2a2a91;
    background-color: rgba(0,0,0,.5);
    text-align: center;
    margin-top:1%;
    padding:1%;
    margin-left:6%;
    margin-right:6%;
    padding-top:none;
    border-radius: 20px;
}

.abt-img{
  float:right;
  height:300px;
  border-radius:180px;
  mix-blend-mode:lighten;
}

.content{
  margin:1em;
}